[submodule "oss/nfs-server"]
	path = oss/nfs-server
	url = git@github.com:traqy/dockerized_nfs_server.git
[submodule "oss/jenkins-server"]
	path = oss/jenkins-server
	url = git@github.com:traqy/docker.git
