[submodule "nfs-server"]
	path = nfs-server
	url = git@github.com:ErezHorev/dockerized_nfs_server.git
[submodule "oss/nfs-server"]
	path = oss/nfs-server
	url = git@github.com:ErezHorev/dockerized_nfs_server.git
[submodule "oss/jenkins-server"]
	path = oss/jenkins-server
	url = git@github.com:jenkinsci/docker.git
